<?xml version="1.0"?>
<launch>

    <arg name="only_line_follow" default="false"/>

    <!-- ================= HARDWARE ================= -->

    <include file="$(find hiwonder_peripherals)/launch/depth_cam.launch"/>
    <include file="$(find hiwonder_servo_controllers)/launch/start.launch"/>
    <include file="$(find hiwonder_controller)/launch/hiwonder_controller.launch"/>

    <!-- ================= YOLO ================= -->

    <arg name="yolo_node_name" default="yolov5_lb_setb"/>

    <rosparam param="/$(arg yolo_node_name)/classes">
        ['go', 'right', 'park', 'red', 'green', 'crosswalk']
    </rosparam>

    <node unless="$(arg only_line_follow)"
          pkg="hiwonder_example"
          type="netx_lb_yolo.py"
          name="$(arg yolo_node_name)"
          output="screen">

        <param name="use_depth_cam" value="true"/>
        <param name="engine" value="traffic_signs_640s_7_0.engine"/>
        <param name="od_engine" value="yolov5n.engine"/>
        <param name="lib" value="libmyplugins_640.so"/>

        <param name="conf_thresh" value="0.3"/>
        <param name="frame_skip" value="2"/>
        <param name="cache_ttl" value="0.25"/>

        <param name="image_path"
               value="/home/hiwonder/ros_ws/src/hiwonder_example/scripts/netx_autonomous_vehicle/self_driving_lb/right-side.png"/>

    </node>

    <!-- ================= SELF DRIVING ================= -->

    <node pkg="hiwonder_example"
          type="netx_self_driving.py"
          name="self_driving_lb_setb"
          output="screen">

        <param name="only_line_follow"
               value="$(arg only_line_follow)"/>

    </node>

    <!-- ================= BANDWIDTH ================= -->

    <node pkg="hiwonder_example"
          type="netx_bandwidth_monitor.py"
          name="netx_bandwidth_monitor_node_setb"
          output="screen">

        <param name="edge_host" value="192.168.20.16"/>
        <param name="sample_period" value="1.0"/>
        <param name="rtt_window" value="12"/>

    </node>

    <!-- ================= NAVIGATION ================= -->

    <node pkg="hiwonder_example"
          type="netx_navigation.py"
          name="lane_detector_setb"
          output="screen">

        <param name="use_depth_cam" value="true"/>

    </node>

    <!-- ================= LOAD BALANCER ================= -->

    <node pkg="hiwonder_example"
          type="netx_tested_load.py"
          name="load_balancer_setb"
          output="screen">

        <rosparam param="applications">
            [
                lane_detection,
                collision_avoidance,
                traffic_sign_detection
            ]
        </rosparam>

        <param name="edge_server_url"
               value="http://192.168.20.16:30052/processimage"/>

        <param name="only_line_follow"
               value="$(arg only_line_follow)"/>

        <param name="resource_threshold" value="80"/>

        <param name="bandwidth_high_threshold" value="7"/>
        <param name="bandwidth_low_threshold" value="2"/>

    </node>

</launch>